<table id="reports-table">
  <thead>
  <tr>
    <th><%= t('kanaui.reports.table.name') %></th>
    <th><%= t('kanaui.reports.table.pretty_name') %></th>
    <th><%= t('kanaui.reports.table.type') %></th>
    <th><%= t('kanaui.reports.table.source') %></th>
    <th><%= t('kanaui.reports.table.source_name') %></th>
    <th><%= t('kanaui.reports.table.source_query') %></th>
    <th><%= t('kanaui.reports.table.refresh_procedure') %></th>
    <th><%= t('kanaui.reports.table.refresh_frequency') %></th>
    <th><%= t('kanaui.reports.table.refresh_hour_gmt') %></th>
    <th><%= t('kanaui.reports.table.fields') %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% reports.each do |report| %>
      <% report_name = report[:reportName].to_s %>
      <tr>
        <td><%= report[:reportName] %></td>
        <td><%= report[:reportPrettyName] %></td>
        <td><%= report[:reportType] %></td>
        <td><%= report[:sourceTableName] %></td>
        <td><%= report[:sourceName] %></td>
        <td>
          <% unless report[:sourceQuery].blank? %>
            <a href="" data-bs-toggle="modal" data-bs-target="#<%= report[:reportName] %>-query-modal">
              <%= t('kanaui.reports.table.show_sql') %>
            </a>

            <div class="modal fade" id="<%= report[:reportName] %>-query-modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title d-flex align-items-center gap-3" id="advanceSearchModalLabel">
                      <span class="icon-container">
                        <%= image_tag("kaui/modal/search.svg", width: 20, height: 20) %>
                      </span>
                      <%= t('kanaui.reports.table.source_query') %>
                    </h5>
                    <button type="button" class="close close-button custom-hover" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">
                        <%= image_tag("kaui/modal/close.svg", width: 20, height: 20) %>
                      </span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p><pre class="sql-query"><code><%= report[:sourceQuery] %></code></pre></p>
                  </div>
                  <div class="modal-footer">
                    <%= render "kaui/components/button/button", {
                      label: t('kanaui.actions.close'),
                      variant: "outline-secondary d-inline-flex align-items-center gap-1",
                      type: "button",
                      html_class: "kaui-button custom-hover",
                      html_options: {
                        data: {
                          bs_dismiss: "modal"
                        },
                      }
                    } %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </td>
        <td><%= report[:refreshProcedureName] %></td>
        <td><%= report[:refreshFrequency] %></td>
        <td><%= report[:refreshHourOfDayGmt] %></td>
        <td>
          <ul>
            <% Array(report.dig(:schema, :fields)).each do |field| %>
                <li><%= field[:name] %> (<%= field[:dataType] %>)</li>
            <% end %>
          </ul>
        </td>
        <td>
          <% if report_name.blank? %>
            <span class="table-button disabled-table-button" title="<%= report[:recordId].present? ? t('kanaui.reports.table.cleanup_required_with_record_id', :record_id => report[:recordId]) : t('kanaui.reports.table.cleanup_required') %>"><%= t('kanaui.actions.delete') %></span>
          <% else %>
            <%= link_to t('kanaui.actions.delete'), report_path(report_name), :method => :delete, :class => 'delete-button table-button' %>
            <%= link_to t('kanaui.actions.refresh'), refresh_report_path(report_name), :method => :put, :class => 'refresh-button table-button' %>
            <%= link_to t('kanaui.actions.edit'), edit_report_path(report_name), :class => 'edit-button table-button' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#reports-table').DataTable({
      "scrollX": true,
      "dom": "t",
      "paging": false,
      "columns": [
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        { "orderable": false },
        { "orderable": false }
      ]
    });
  });
<% end %>
