<div class="kaui-container kanaui-reports-index">
  <div class="d-flex " style="gap: 4rem;">
    <div class="configured-reports">
      <div class="d-flex flex-column ">
        <% if @report_notice %>
          <div class="alert alert-info kanaui-report-notice" role="status"><%= @report_notice %></div>
        <% end %>
        <div class="configured-reports-header mb-4">
          <div class="d-flex align-items-center">
          <h2><%= t('kanaui.reports.index.title') %></h2>
          </div>
          <span>
            <%= link_to dashboard_index_path, class: 'text-decoration-none' do %>
              <%= render "kaui/components/button/button", {
                label: t('kanaui.reports.index.dashboard'),
                variant: "outline-secondary d-inline-flex align-items-center gap-1",
                type: "button",
                html_class: "btn btn-xs kaui-button custom-hover py-2 px-3"
              } %>
            <% end %>
            <%= link_to new_report_path, class: 'text-decoration-none' do %>
              <%= render "kaui/components/button/button", {
                label: t('kanaui.reports.index.new_report'),
                icon: "kaui/plus.svg",
                variant: "outline-secondary d-inline-flex align-items-center gap-1",
                type: "button",
                html_class: "btn btn-xs kaui-dropdown custom-hover py-2 px-3"
              } %>
            <% end %>
          </span>
        </div>
        <%= render :partial => 'kanaui/reports/reports_table', :locals => {:reports => @reports} %>
      </div>
    </div>
  </div>
</div>