<!DOCTYPE html>
<html>
<head>
  <title>Kanaui</title>
  <%= yield :scripts %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="container-fluid">
      <%- # :alert used by devise -%>
      <% if flash[:error] || flash[:alert] || flash[:notice] %>
        <div class="kanaui-flash-container">
          <% [:error, :alert].each do |key| %>
            <% if flash[key] %>
              <div class="alert alert-danger alert-error" role="alert"><%= flash[key] %></div>
            <% end %>
          <% end %>
          <% if flash[:notice] %>
            <div class="alert alert-info" role="status"><%= flash[:notice] %></div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
